#setEvent
{
	-fx-font-size: 30px;
	-fx-background-color: rgba(255, 255, 255, .80);
	-fx-text-fill: blue;
	-fx-padding: 6 6 6 6;
	-fx-border-radius: 8;
	-fx-font-weight: bold;
}

#myMessage
{
	-fx-background-color: white;
}

#eventDescription
{
	-fx-text-alignment: center ;
	-fx-font-size: 15px;
	-fx-background-color: black;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#errorTextField
{
	-fx-background-color: black;
	-fx-font-weight: bold;
	-fx-text-fill: red;
	-fx-text-alignment: center ;
}

#eventVenue
{
	-fx-background-color: black;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-text-alignment: center ;
}

#eventProperties
{
	-fx-text-alignment: center ;
	-fx-font-size: 15px;
	-fx-background-color: black;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.root
{
	-fx-background-color: black   ;
}
