#setEvent
{
	-fx-font-weight: bold;
}

#myMessage
{
	-fx-background-color: white;
}

#eventDescription
{
	-fx-text-alignment: center ;
	-fx-font-size: 15px;
	-fx-background-color: white;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

#errorTextField
{
	-fx-background-color: grey;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-text-alignment: center ;
}

#eventVenue
{
	-fx-background-color: white;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-text-alignment: center ;
}

#eventDate
{
	-fx-background-color: white;
	-fx-font-weight: bold;
	-fx-text-fill: black;
	-fx-text-alignment: center ;
}

#eventProperties
{
	-fx-text-alignment: center ;
	-fx-font-size: 15px;
	-fx-background-color: black;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.root
{
	-fx-background-color: grey   ;
}
