.root
{
	-fx-background-color: grey   ;
}

#communicateLabel
{
	-fx-text-alignment: center ;
	-fx-font-size: 15px;
	-fx-background-color: grey;
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

#errorLabel
{
	-fx-text-alignment: center ;
	-fx-font-size: 15px;
	-fx-background-color: grey;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}